*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: white;
}
p,h1,h2,h3,h4{
    color: rgb(68, 67, 67);
    font-weight: 600;
}
a{
    color: rgb(56, 126, 209);
    text-decoration: none;
    font-weight: 680;
}
.navbar{
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: white;
    height: 68px;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.059);
    z-index: 100;
}
.navlogo{
    display: flex;
    align-items: center;
}
.navlogo img{
    margin-left: 20px;
    height: 20px;

}
.navitems{
    display: flex;
    font-weight: lighter;
    gap: 35px;
    align-items: center;
    font-size: large;
}
.graphimg{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.graphimg img{
    scale: 0.80;
}
.sitedetail{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.sitedetail p{
    font-size: x-large;
}
.signupbutton{
    display: flex;
    justify-self: center;
    margin-top: 50px;
}
.signupbutton button{
    background-color: rgb(56, 126, 209);
    height: 50px;
    width: 230px;
    border-radius: 5px;
    font-size: x-large;
    color: white;
    border: none;
    margin-bottom: 180px;
}
.reviews{
    display: flex;
    justify-content: center;
}
.leftbox{
    margin-right: 120px;
    width: 400px;
}
.leftbox h1{
    text-align: start;
}
.leftbox p{
    font-size: large;
    line-height: 1.8rem;
}
.rightbox img{
    width: 700px;
}
.menu{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.menu h3{
    margin-top: 50px;
}
.news{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
}
.pricing{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.leftbox2{
    width: 500px;
    margin-left: 170px;
}
.leftbox2 p{
    font-size: large;
    line-height: 1.8rem;
}
.rightbox2{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 900px;
    margin-left: 20px;
}
.rightbox2 img{
    height: 110px;
}
.rightbox2 p{
    font-weight: lighter;
    align-self: center;
    font-size: x-small;
    width: 110px;
    margin-left: -25px;
}
#intra{
    width: 70px;
    padding-left: 20px;
}
.varsity{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap: 200px;
}
.rightbox3{
    width: 600px;
    line-height: 2rem;
}
.rightbox3 h1{
    overflow: hidden;
}
.account{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    gap: 40px;
}
.footer{
    padding-top: 50px;
    background-color: #fbfbfb;
    
}
.footerlinks{
    display: flex;
    justify-content: center;
    gap: 150px;
}
.box1{
    line-height: 1.8rem;
    /* width: 180px; */
}
#footlogo{
    width: 180px;
}
#Socialmedia{
    margin-top: 20px;
}
#WATGYT{
    margin-top: 15px;
}
.stores{
    margin-top: 20px;
}
.boxes{
    gap: 50px;
    display: flex;
    justify-content: center;
    line-height: 3rem;
    padding-right: 100px;
}
.footerabout{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 1300px;
    row-gap: 15px;
}
.footerabout p{
    font-size: 0.75rem;
    color: #9b9b9b;
    line-height: 1.5rem;
}
.footerlast{
    display: flex;
    justify-content: center;
    margin-top: 18px;
    gap: 30px;
    margin-bottom: 50px;
}
.footerlast p{
    color: #888787;
    font-size: 0.85rem;
    
}
